<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aprendendos django com as menindas !!! :D</title>
</head>
<body>
    <div>
        <h1><a href="/">Blog Django Girls</a></h1>
    </div>
    <div>
        <p>publicado: 08/07/2019, 18:44</p>
        <h2><a href=""> Meu primeiro post</a></h2>
        <p>Somente um post como teste. Nao serve para muita coisa só como exmplo mesmo, isso para testes.    </p>

    </div>

    <div>

            <p>publicado: 08/07/2019, 18:44</p>
            <h2><a href=""> Meu segundo post</a></h2>
            <p>Somente um post como teste. Nao serve para muita coisa só como exmplo mesmo, isso para testes.    </p>
    </div>


</body>
</html>
